//primary colors
$color-blue: #00f;
$color-green: #0f0;
$color-red: #f00;
$color-gray-light: #f1f1f1;
$color-purple-gray: #eae8ef;

//secondary colors
$color-cyan: #0ff;
$color-magenta: #f0f;
$color-yellow: #ff0;
$color-white: #fff;
$color-black: #000;

//tertiary colors

//special colors
$color-electric-violet: #6200ee;
$color-robinsEgg-blue: #00e0d0;
$color-caribbean-green: #00ca98;
