.tab-list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.content-list {
  position: relative;
  width: 100%;
  height: 100%;
}

.tab {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 10px;
  }

  * {
    text-decoration: none;
  }

  &.is-active {
    * {
      color: #900;
    }
  }
}

.content {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &.is-active {
    position: relative;
    opacity: 1;
    z-index: 2;
  }
}
